<h1>DeleteController::deleteAction()</h1>
<p>
    Are you sure that you want to delete 
    <strong>'<?php echo $this->escapeHtml($this->post->getTitle()); ?>'</strong> by
    '<?php echo $this->escapeHtml($this->post->getText()); ?>'?
</p>
<form action="<?php echo $this->url('blog/delete', array(), true) ?>" method="post">
    <input type="submit" name="delete_confirmation" value="Yes">
    <input type="submit" name="delete_confirmation" value="No">
</form>